@import "modern-normalize.css";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.bookCard {
  border: 1px solid black;
  padding: 8px;
}

#library {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
}

.bookInfo {
  display: grid;
  place-items: center;
}

#newBook {
  margin-left: 20px;
}